<header>
  <h1>Angular 16 Micro Frontend Learning Project MODELOS</h1>
</header>
<div class="container">
  <p>
    Este proyecto fue creado como un laboratorio de aprendizaje, utilizando
    Angular 16 con la integración de Module Federation, PrimeNG, PrimeFlex y
    PrimeIcons. La plantilla Sakai se empleó para mejorar la apariencia y
    estructura del frontend.
  </p>
  <p>
    El despliegue se realizó en Netlify, utilizando una arquitectura de micro
    frontends basada en múltiples repositorios (multi-repo). A continuación,
    puedes encontrar los enlaces tanto de los repositorios en GitHub como de los
    despliegues en Netlify:
  </p>
  <div class="links">
    <h3>Repositorios:</h3>
    <a
      href="https://github.com/Hrincon1055/angular-16-micro-front-root"
      target="_blank"
      >Repositorio Root</a
    >
    <br />
    <a
      href="https://github.com/Hrincon1055/angular-16-micro-modelos"
      target="_blank"
      >Repositorio Modelos</a
    >
  </div>
  <div class="links">
    <h3>Despliegues en Netlify:</h3>
    <a href="https://bucolic-dango-87ca31.netlify.app/" target="_blank"
      >Root en Netlify</a
    >
    <br />
    <a href="https://gregarious-bubblegum-562132.netlify.app/" target="_blank"
      >Modelos en Netlify</a
    >
  </div>
  <h3>¿Qué puedes aprender con este proyecto?</h3>
  <ul>
    <li>
      Cómo estructurar y desarrollar una aplicación en Angular 16 utilizando la
      federación de módulos (Module Federation).
    </li>
    <li>
      Buenas prácticas al trabajar con múltiples repositorios (multi-repo) para
      proyectos de Micro Frontends.
    </li>
    <li>
      Cómo integrar librerías como PrimeNG, PrimeFlex y PrimeIcons para crear
      interfaces de usuario atractivas y funcionales.
    </li>
    <li>
      El proceso completo de despliegue en Netlify, desde la configuración hasta
      la puesta en producción de Micro Frontends.
    </li>
    <li>
      Gestión de entornos y la configuración de rutas entre los diferentes micro
      frontends en un proyecto.
    </li>
    <li>Gestión de entornos de desarrollo como QA y DEVELOP</li>
    <li>
      Uso de una plantilla como Sakai para mejorar la apariencia del proyecto
      sin necesidad de crear estilos personalizados desde cero.
    </li>
  </ul>
</div>
<footer>
  <p>&copy; 2024 - Proyecto desarrollado por Henry Rincon Santana</p>
</footer>
